*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #0066aa;
    color: #ffffff;
    padding: 10px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.header{
    background:radial-gradient(#fff, rgb(26, 95, 145));
}

.container{
    padding: 100px;
}

.categorias{
    margin-top: 100px;
    margin-bottom: 100px;   
}

.prod_box {
    position: relative;
    width: 33%;
    margin-top: 5px;
  }

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 10px;
  transition: .5s ease;
  background-color: #0066aa;
}

.prod_box:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay button {
    font-size: 20px;
    background-color: transparent;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.banner_desconto{
    background-image: url("img/banner2.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 700px;
    width: auto;
    position: relative;
    margin-bottom: 50px;
}

.banner_inicial{
    background-image: url("img/banner.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 700px;
    width: auto;
    position: relative;
    margin-bottom: 50px;
}

.banner_checkout{
    background-image: url("img/banner3.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 700px;
    width: auto;
    position: relative;
    margin-bottom: 50px;
}

.center {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center_prods {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn_desconto{
    display: inline-block;
    color: #ffffff;
    padding: 10px 30px;
    margin: 30px 0;
    border-radius: 30px;
    border: 4px solid white;
}

.btn_desconto:hover{
    opacity: 0.8;
}

.center_prods h1{
    text-transform: uppercase;
    color: white;
}

.main{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn_carrinho{
    display: inline-block;
    color: #ffffff;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    border: 2px solid white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#produtos_carrinho ul{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.btn_checkout{
  float: right;
  display: inline-block;
  color: #a29161;
  padding: 8px 30px;
  margin: 10px 0;
  border-radius: 30px;
  border: 2px solid #a29161;
  margin-top: -50px;
}

.btn_checkout:hover{
    opacity: 0.5;
}


